.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .header {
    background: $blue-gray;
  }
  .featured {
    // background: $light-gray;
  }
  .main {
    flex: 1;
    padding: 1rem;
  }
  .footer {
    flex-shrink: 0;
    background: $blue-gray;
  }
}

.header-grid {
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  max-width: $container-width;
  padding: 1rem;
  &__logo {
    display: block;
    background: url('./img/react-stocks.svg') no-repeat center;
    width: 160px;
    height: 160px;
    background-size: contain;
    @include bp(med) {
      background: url('./img/react-stocks-land.svg') no-repeat left;
      width: 324px;
      height: 60px;
      margin-left: -1rem;
    }
  }
  @include bp(med) {
    flex-direction: row;
    justify-content: space-between;
    &__nav {
      margin-left: 2em;
    }
  }
}
.header-nav {
  display: grid;
  color: white;
  font-weight: 600;
  grid-template-columns: repeat(3, auto);
  grid-gap: 3rem;
  & a {
    color: white;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.markets-grid,
.stock-grid,
.forex-grid {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  max-width: $container-width;
}

.footer-container {
  text-align: center;
  max-width: $container-width;
  color: white;
  margin: 1rem auto;
}
