.l-site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .header {
    background: $blue-gray;
  }
  .featured {
    // background: $light-gray;
  }
  .main {
    flex: 1;
  }
  .footer {
    flex-shrink: 0;
    background: $blue-gray;
  }
}

.l-header-grid {
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  @include bp(med) {
    flex-direction: row;
    justify-content: center;
  }
  &__search {
    margin-left: 2em;
  }
}

.l-main-grid {
  display: grid;
  grid-gap: 1em;
  max-width: $container-width;
  margin: 0 auto;
  flex-direction: column;
  @include bp(med) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3em;
  }
  &__quote,
  &__favorites {
    margin: 0.6em;
    @include bp(med) {
      margin: 1em 0;
    }
  }
}

.l-featured-container {
  display: flex;
  flex-basis: 100%;
  max-width: $container-width;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background: $light-gray;
  &__item {
  }
}

.l-footer-container {
  text-align: center;
  max-width: $container-width;
  color: white;
  margin: 1rem auto;
}
