.l-site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .header {
    background: $blue-gray;
  }
  .featured {
    // background: $light-gray;
  }
  .main {
    flex: 1;
  }
  .footer {
    flex-shrink: 0;
    background: $blue-gray;
  }
}

.l-header-grid {
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
  &__search {
    margin-left: 2em;
  }
}

.l-main-grid {
  display: flex;
  max-width: $container-width;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 2rem;
    // &__quote {
    //   flex: 3;
    // }
    // &__favorites {
    //   flex: 1;
    //   display: flex;
    //   justify-content: flex-end;
    // }
  }
}

.l-featured-container {
  display: flex;
  flex-basis: 100%;
  max-width: $container-width;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background: $light-gray;
  &__item {
  }
}

.l-footer-container {
  text-align: center;
  max-width: $container-width;
  color: white;
  margin: 1rem auto;
}

table,
th,
td {
  border: 1px solid black;
}
