.l-quote-grid {
  display: grid;
  grid-gap: 1em;
}

.quote-border {
  height: 1rem;
  width: 100%;
}

.quote-header {
  display: grid;
  &__name {
    font-size: 3.2rem;
    font-weight: 700;
  }
  &__symbol {
    font-size: 2.6rem;
    font-weight: 500;
    padding-left: 1rem;
  }
  &__price {
    font-size: 5.2rem;
    font-weight: 700;
    margin-top: 2rem;
  }
  &__change {
    font-size: 2.8rem;
    font-weight: 600;
  }
  &__exchange {
    font-size: 1.8rem;
  }
}

// .quote-details-list {
//   display: grid;
//   grid-gap: 1em;
//   &__item {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
// }

.quote-details-table {
  width: 100%;
  font-size: 1.2em;
  line-height: 2;
  td:first-child {
    color: $text-gray;
  }
  td:last-child {
    font-weight: 600;
    text-align: right;
  }
  tr {
    border-bottom: 1px solid $med-gray;
  }
}
