$black: #222222;

html {
  box-sizing: border-box;
  font-size: 10px;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//prettier-ignore
h1, h2, h3, h4, h5, h6 {
  // margin: 0 0 5px 0;
}

ol,
ul {
  list-style: none;
  // margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

// .item {
//   display: grid;
//   justify-content: center;
//   align-items: center;
// }
